

#IconAwesome{
    margin: 10px 10px 0px 0px;
}

.buttons-container{
    display:grid;
    

}   
#button-size{
    margin: 5px;
}

.auth-container{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    margin: 80px auto;
}