.button-container {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
  
    &:hover {
      background-color: white;
      color: black;
      border: 1px solid black;
    }
  
    &.google-sign-in {
        background-color: #FF7D7D;
        color: white;
        border-color:#FF7D7D ;
  
      &:hover {
        background-color: #E26868;
        border-color:none;
      }
    }
    &.github-sign-in {
        background-color: #372948;   
        border-color: #372948;
        color: white;
  
      &:hover {
        background-color: #251B37;
        border-color:none;
      }
    }
    &.facebook-sign-in {
        background-color: #7978FF;
        color: aliceblue;
        border-color: #7978FF;
  
      &:hover {
        background-color: #4649FF;
  
        border-color:none;
      }
    }
  
    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
  
      &:hover {
        background-color: black;
        color: white;
        border: none;
      }
    }
  }
  